[submodule "research/upstream/storyai-3d-director-desk"]
	path = research/upstream/storyai-3d-director-desk
	url = https://github.com/jiguang132/storyai-3d-director-desk.git
[submodule "research/upstream/open-canvas"]
	path = research/upstream/open-canvas
	url = https://github.com/ZeroLu/open-canvas.git
	branch = main
